body {
    background-color: #fafafa;
}

.footer {
    background-color: #e0e0e0;
    position: relative;
    display: inline-block;
    width: 100%;
    height: 80px;
}
.footer p{
    display: inline-block;
}
.footer .socialbar{
    list-style-type: none;
    display: inline-block;
}

.footer .socialbar li{
    display: inline-block;
}

li a{
    text-decoration: none;
}